################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/quiz3mvc/quiz3mvc/bin
/quiz3mvc/quiz3mvc/obj/Debug
